/*----------------
   BASIC PAGE
----------------*/
/*----------------
   BASIC PAGE
----------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Futura PT';
  background-color: #fff;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

/*----------------
   MIXINS...
----------------*/
/*----------------------
   IMPORT HOME PAGE
------------------------*/
.header .header__top {
  padding: 15px;
  background-color: #F9F8F8;
}

.header .header__top .top__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__top .top__navbar .navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 75px;
}

.header .header__top .top__navbar .navbar__menu .menu__item {
  margin-right: 22px;
}

.header .header__top .top__navbar .navbar__menu .menu__item .menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.header .header__top .top__navbar .navbar__menu .menu__item .menu__link:hover {
  color: #FFBD54;
}

.header .header__top .top__navbar .navbar__menu .menu__item .menu__link:active {
  opacity: .6;
  color: #333333;
}

.header .header__top .top__navbar .navbar__menu .br {
  position: relative;
}

.header .header__top .top__navbar .navbar__menu .br::before {
  content: '';
  background-image: url(../../../img/head-footer/nuxta.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 10px;
  height: 10px;
  left: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .header__top .top__navbar .navbar__menu:nth-child(1) {
  position: relative;
}

.header .header__top .top__navbar .navbar__menu:nth-child(1)::before {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  background-image: url(../../../img/head-footer/house.svg);
  left: 50px;
}

.header .header__top .top__navbar .navbar__menu:nth-child(2) {
  position: relative;
}

.header .header__top .top__navbar .navbar__menu:nth-child(2)::before {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  background-image: url(../../../img/head-footer/phone.svg);
  left: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}

.header .header__top .top__navbar .navbar__menu:nth-child(3) {
  position: relative;
}

.header .header__top .top__navbar .navbar__menu:nth-child(3)::before {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  background-image: url(../../../img/head-footer/day.svg);
  left: 50px;
}

.header .header__bottom {
  height: 61px;
  background-color: #fff;
  border: 1px solid #F3F3F3;
}

.header .header__bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__bottom .container .bottom__logo {
  margin-top: -18px;
}

.header .header__bottom .container .bottom__navbar {
  margin-top: -15px;
}

.header .header__bottom .container .bottom__navbar .navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__bottom .container .bottom__navbar .navbar__menu .menu__item {
  padding: 0 27px;
}

.header .header__bottom .container .bottom__navbar .navbar__menu .menu__item .menu__link {
  color: #333333;
  font-weight: 500;
  font-size: 16px;
  border-bottom: 3px solid transparent;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.header .header__bottom .container .bottom__navbar .navbar__menu .menu__item .menu__link:hover {
  border-bottom: 3px solid yellow;
}

.header .header__bottom .container .bottom__navbar .navbar__menu .menu__item .menu__link:active {
  opacity: .6;
}

.header .header__bottom .container .menu__btn {
  margin-top: -15px;
  color: #333333;
  font-weight: 500;
  font-size: 16px;
  border-bottom: 3px solid transparent;
  -webkit-transition: 0.10s ease all;
  transition: 0.10s ease all;
  position: relative;
}

.header .header__bottom .container .menu__btn:hover {
  border-bottom: 3px solid yellow;
}

.header .header__bottom .container .menu__btn::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: -30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../../../img/head-footer/pet.svg);
}

footer {
  margin-top: 100px;
  height: 221px;
  background-color: #F3F3F3;
  border: 1px solid #EBEBEB;
}

footer .addres {
  text-align: right;
  margin: -30px 80px 0px 0px;
}

footer .footer__navbar {
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__navbar .footer__logo {
  -webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}

footer .footer__navbar .footer__logo:hover {
  opacity: 0.8;
}

footer .footer__navbar .footer__logo:active {
  opacity: 0.6;
}

footer .footer__navbar .menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

footer .footer__navbar .menu__link:hover {
  color: #FFBD54;
}

footer .footer__navbar .menu__link:active {
  opacity: .6;
  color: #333333;
}

footer .footer__navbar .day {
  margin-top: -15px;
  margin-left: 20px;
  position: relative;
}

footer .footer__navbar .day::before {
  content: '';
  left: -20px;
  top: 3px;
  background-repeat: no-repeat;
  background-image: url(../../../img/head-footer/day.svg);
  width: 20px;
  height: 20px;
  position: absolute;
}

footer .footer__navbar .home {
  position: relative;
  margin-left: 20px;
  width: 155px;
  margin-top: -17px;
}

footer .footer__navbar .home::before {
  content: '';
  background-repeat: no-repeat;
  top: 5px;
  left: -20px;
  background-image: url(../../../img/head-footer/house.svg);
  width: 20px;
  height: 20px;
  position: absolute;
}

footer .footer__navbar .tel {
  margin-left: 20px;
  position: relative;
}

footer .footer__navbar .tel::before {
  content: '';
  background-repeat: no-repeat;
  left: -20px;
  top: 3px;
  background-image: url(../../../img/head-footer/phone.svg);
  width: 20px;
  height: 20px;
  position: absolute;
}

/*----------------------
   IMPORT ABOUT PAGE
------------------------*/
.blog-section {
  background-image: url(../../../img/img-blog-page-6/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-section .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-section .header-content .header-content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 95px;
}

.blog-section .header-content .header-content__top .top-content .top-content__header {
  font-weight: bold;
  font-size: 70px;
  line-height: 64px;
  margin-top: 118px;
  margin-bottom: 21px;
}

.blog-section .header-content .header-content__top .top-content .top-content__desc {
  width: 447px;
  font-size: 16px;
  line-height: 20px;
}

.blog-section .header-content .header-content__top .top-content__img {
  margin-top: 29px;
  width: 415;
  height: 317;
}

.blog-section .header-content .header-content__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 72px;
}

.blog-section .header-content .header-content__bottom .bottom__img {
  border-radius: 5px 0px 0px 5px;
  width: 558px;
  height: 525px;
  margin-right: 81px;
}

.blog-section .header-content .header-content__bottom .bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-section .header-content .header-content__bottom .bottom-content .bottom-content__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-section .header-content .header-content__bottom .bottom-content .bottom-content__subtitle .heshs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-section .header-content .header-content__bottom .bottom-content .bottom-content__subtitle .subtitle__date {
  padding-left: 47%;
  color: #949494;
}

.blog-section .header-content .header-content__bottom .bottom-content .bottom-content__header {
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  color: #333333;
  margin-bottom: 20px;
}

.blog-section .header-content .header-content__bottom .bottom-content .bottom-content__desc {
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.blog-section .header-content .header-content__bottom .bottom-content .bottom-content__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.blog-section .header-content .header-content__bottom .bottom-content .bottom-content__link::before {
  content: '';
  background-image: url(../../../img/img-blog-page-6/pet-paw.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 21px;
  display: inline-block;
  margin-bottom: -4px;
  margin-right: 5px;
}

.blog-section .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 116px;
}

.blog-section .main-content .main-content__block {
  width: 305px;
  height: 435px;
  border: .2px solid #cfcfcf;
  border-radius: 5px;
}

.blog-section .main-content .main-content__block:nth-child(1) {
  margin-bottom: 60px;
}

.blog-section .main-content .main-content__block:nth-child(2) {
  margin-bottom: 60px;
}

.blog-section .main-content .main-content__block:nth-child(3) {
  margin-bottom: 60px;
}

.blog-section .main-content .main-content__block:nth-child(4) {
  margin-bottom: 60px;
}

.blog-section .main-content .main-content__block .block-img {
  border-radius: 5px;
  margin-bottom: 39px;
  width: 305px;
  height: 180px;
}

.blog-section .main-content .main-content__block .block-header {
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  padding-left: 30px;
  width: 240px;
  margin-bottom: 13px;
}

.blog-section .main-content .main-content__block .block-desc {
  padding-left: 30px;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  width: 280px;
  margin-bottom: 37px;
}

.blog-section .main-content .main-content__block .block-link {
  padding-left: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.blog-section .main-content .main-content__block .block-link::before {
  content: '';
  background-image: url(../../../img/img-blog-page-6/pet-paw.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 21px;
  display: inline-block;
  margin-bottom: -4px;
  margin-right: 5px;
}

.blog-section .blog-section__link {
  width: 200px;
  background-color: #333333;
  color: #fff;
  padding: 16px 40px;
  text-align: center;
  padding-left: 55px;
  position: relative;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.blog-section .blog-section__link .block-section__link-img {
  margin-right: 5px;
  position: absolute;
  top: 20px;
  left: 30px;
}
