/*----------------
BASIC PAGE
----------------*/

*,
*::before,
*::after{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   content: '';
}

body{
   font-family: 'Futura PT', sans-serif;
   background-color: #fff;
   font-size: 16px;
   background-image: url(../img/img-blog-page-6/bg.svg);
   background-size:cover;
   background-repeat: no-repeat;
}

ul{
   list-style-type: none;
}
a{
   display: inline-block;
   text-decoration: none;
}

.container{
   max-width: 1300px;
   margin: 0 auto;
}