/*----------------
   BASIC PAGE
----------------*/

*,
*::before,
*::after{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   content: '';
}

body{
   font-family: 'Futura PT';
   background-color: #fff;
   font-size: 16px;
   background-image: url(/img/intro-img/bg1.svg);
}

ul{
   list-style-type: none;
}
a{
   display: inline-block;
   text-decoration: none;
}

.container{
   max-width: 1300px;
   margin: 0 auto;
}