/*----------------
   BASIC PAGE
----------------*/
@import './basic';

/*----------------
   MIXINS...
----------------*/
@import './mixins';

/*----------------------
   IMPORT HOME PAGE
------------------------*/

@import "./page/home/header";
@import "./page/home/menu-burger";
@import "./page/home/modal";
@import "./page/home/intro";
@import "./page/home/footer";

@import "./page/services-open/open-bg"; 
@import "./page/services-open/osmotr";

@import "./page/blog/header-content";
@import "./page/blog/main-content";
