/*----------------
   BASIC PAGE
----------------*/
/*----------------
BASIC PAGE
----------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
}

body {
  font-family: 'Futura PT', sans-serif;
  background-color: #fff;
  font-size: 16px;
  background-image: url(../img/img-blog-page-6/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

/*----------------
   MIXINS...
----------------*/
/*----------------------
   IMPORT HOME PAGE
------------------------*/
header .header__top {
  padding: 15px;
  background-color: #F9F8F8;
}

header .header__top .top__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__top .top__navbar .navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 75px;
}

header .header__top .top__navbar .navbar__menu .menu__item {
  margin-right: 22px;
}

header .header__top .top__navbar .navbar__menu .menu__item .menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

header .header__top .top__navbar .navbar__menu .menu__item .menu__link:hover {
  color: #FFBD54;
}

header .header__top .top__navbar .navbar__menu .menu__item .menu__link:active {
  opacity: .6;
  color: #333333;
}

header .header__top .top__navbar .navbar__menu .br {
  position: relative;
}

header .header__top .top__navbar .navbar__menu .br::before {
  content: '';
  background-image: url(../../../img/head-footer/nuxta.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 10px;
  height: 10px;
  left: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .header__top .top__navbar .navbar__menu:nth-child(1) {
  position: relative;
}

header .header__top .top__navbar .navbar__menu:nth-child(1)::before {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  background-image: url(../../../img/head-footer/house.svg);
  left: 50px;
}

header .header__top .top__navbar .navbar__menu:nth-child(2) {
  position: relative;
}

header .header__top .top__navbar .navbar__menu:nth-child(2)::before {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  background-image: url(../../../img/head-footer/phone.svg);
  left: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}

header .header__top .top__navbar .navbar__menu:nth-child(3) {
  position: relative;
}

header .header__top .top__navbar .navbar__menu:nth-child(3)::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../../../img/head-footer/day.svg);
  left: 50px;
  bottom: -2px;
  background-repeat: no-repeat;
}

header .header__bottom {
  height: 61px;
  background-color: #fff;
  border: 1px solid #F3F3F3;
}

header .header__bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__bottom .container .bottom__logo {
  margin-top: -18px;
}

header .header__bottom .container .bottom__navbar {
  margin-top: -15px;
}

header .header__bottom .container .bottom__navbar .navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__bottom .container .bottom__navbar .navbar__menu .menu__item {
  padding: 0 27px;
}

header .header__bottom .container .bottom__navbar .navbar__menu .menu__item .menu__link {
  color: #333333;
  font-weight: 500;
  font-size: 16px;
  border-bottom: 3px solid transparent;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

header .header__bottom .container .bottom__navbar .navbar__menu .menu__item .menu__link:hover {
  border-bottom: 3px solid yellow;
}

header .header__bottom .container .bottom__navbar .navbar__menu .menu__item .menu__link:active {
  opacity: .6;
}

header .header__bottom .container .menu__btn {
  margin-top: -15px;
  color: #333333;
  font-weight: 500;
  font-size: 16px;
  border-bottom: 3px solid transparent;
  -webkit-transition: 0.10s ease all;
  transition: 0.10s ease all;
  position: relative;
}

header .header__bottom .container .menu__btn:hover {
  border-bottom: 3px solid yellow;
}

header .header__bottom .container .menu__btn::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 30px;
  left: -30px;
  top: 10px;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../../../img/head-footer/pet.svg);
}

main .care {
  background-image: url(/img/intro-img/header-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 780px;
}

main .care .container .care__title {
  font-size: 70px;
  width: 600px;
  padding-top: 80px;
  margin-left: 600px;
}

main .care .container .care__title span {
  color: #74B9D6;
}

main .care .container .care__text {
  width: 500px;
  padding-top: 10px;
  margin-left: 600px;
}

main .care .container .care__btn {
  background-color: black;
  text-align: center;
  line-height: 3;
  height: 50px;
  width: 181px;
  border-radius: 3px;
  margin-top: 50px;
  margin-left: 600px;
  display: inline-block;
  color: white;
}

main .care .container .care__btn:hover {
  background-color: red;
}

main .care .container hr {
  width: 140px;
  position: relative;
  top: 320px;
  left: 570px;
}

main .care .container .line {
  top: 35px;
}

main .care .container .care__describtion {
  margin: 0 auto;
  margin-top: 350px;
  width: 600px;
  text-align: center;
  position: relative;
}

main .care .container .care__describtion::before {
  background-image: url(/img/intro-img/arroooow.svg);
  width: 50px;
  height: 50px;
  left: -80px;
  top: -25px;
  background-repeat: no-repeat;
  position: absolute;
}

main .care .container .care__describtion::after {
  background-image: url(/img/intro-img/arroooow.svg);
  width: 50px;
  height: 50px;
  position: absolute;
  right: -80px;
  top: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-repeat: no-repeat;
}

main .care .container .title {
  padding-top: 60px;
  text-align: center;
  margin: 50px 0px;
}

main .care .container .sub__title {
  padding-top: 80px;
  text-align: center;
}

main .servis {
  margin-top: 460px;
  padding: 0 40px;
}

main .servis .servis__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .servis .servis__menu .servis__item {
  text-align: center;
  height: 215px;
  width: 193px;
  margin-right: 10px;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #F3F3F3;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 35px;
  position: relative;
}

main .servis .servis__menu .servis__item::before {
  top: 30px;
  left: 50px;
  position: absolute;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url(/img/intro-img/doctor.svg);
}

main .servis .servis__menu .servis__item .servis__tite {
  width: 150px;
}

main .servis .servis__menu .no1::before {
  left: 60px;
}

main .servis .servis__menu .no2::before {
  background-image: url(/img/intro-img/gitl-dog.svg);
}

main .servis .servis__menu .no3::before {
  background-image: url(/img/intro-img/outline.svg);
}

main .servis .servis__menu .no4::before {
  background-image: url(/img/intro-img/docg.svg);
}

main .servis .servis__menu .no5::before {
  background-image: url(/img/intro-img/microscop.svg);
}

main .servis .servis__menu .no6::before {
  background-image: url(/img/intro-img/dermatolog.svg);
}

main .inspects {
  margin-top: 20px;
  padding: 0 46px;
}

main .inspects .inspect {
  border-radius: 5px;
  height: 330px;
  border: 1px solid #F3F3F3;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .inspects .inspect img {
  padding: 40px 20px;
}

main .inspects .inspect .text__wrapper {
  margin: 55px 20px;
  width: 500px;
}

main .inspects .inspect .text__wrapper .inspect__title {
  margin-bottom: 10px;
}

main .inspects .inspect .text__wrapper .inspect__text {
  padding-bottom: 8px;
  color: #949494;
}

main .inspects .inspect .text__wrapper .inspect__btn {
  height: 50px;
  width: 185px;
  padding-left: 20px;
  line-height: 3;
  text-align: center;
  color: #ffffff;
  border-radius: 3px;
  background-color: #FFBD54;
  display: inline-block;
  margin-right: 15px;
  position: relative;
}

main .inspects .inspect .text__wrapper .inspect__btn::before {
  width: 20px;
  height: 20px;
  left: 10px;
  top: 12px;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(/img/intro-img/money.svg);
}

main .inspects .inspect .text__wrapper .inspect__btn .no2 {
  background-color: #333333;
  width: 200px;
}

main .course {
  position: relative;
  height: 308px;
  top: 200px;
  background-image: url(/img/intro-img/main-bg.svg);
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 20;
}

main .course::before {
  background-image: url(/img/intro-img/DOG.png);
  height: 450px;
  width: 500px;
  top: -92.5px;
  right: 0px;
  background-position: center center;
  position: absolute;
}

main .course .course__title {
  padding: 40px 325px 50px 0px;
  text-align: center;
  font-family: Futura PT;
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
}

main .course input {
  height: 50px;
  margin-left: 150px;
  width: 330px;
  border-radius: 5px;
  border: none;
  padding-left: 25px;
  outline: none;
}

main .course .course__btn {
  height: 50px;
  width: 188px;
  margin-left: 20px;
  border-radius: 3px;
  background-color: #333333;
  color: #ffffff;
}

main .articl {
  margin-top: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

main .articl .articl__title {
  text-align: center;
}

main .articl .articl__block__wrapper {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .articl .articl__block__wrapper .block {
  height: 435px;
  width: 270px;
  border-radius: 7px;
  border: 1px solid #F3F3F3;
  background-color: #ffffff;
}

main .articl .articl__block__wrapper .block .text__wrapper {
  padding: 30px;
}

main .articl .articl__block__wrapper .block .text__wrapper time {
  color: #949494;
  display: inline-block;
  margin-left: 140px;
}

main .articl .articl__block__wrapper .block .text__wrapper .block__title {
  width: 200px;
  padding-bottom: 10px;
  font-family: Futura PT;
  font-size: 22px;
  font-weight: 700;
}

main .articl .articl__block__wrapper .block .text__wrapper .block__btn {
  font-family: Futura PT;
  display: inline-block;
  font-size: 18px;
  width: 200px;
  font-weight: bold;
  color: #333333;
  margin: 25px;
  position: relative;
}

main .articl .articl__block__wrapper .block .text__wrapper .block__btn::before {
  background-repeat: no-repeat;
  position: absolute;
  width: 35px;
  height: 35px;
  left: -35px;
  background-image: url(/img/intro-img/pet.svg);
}

main .articl .articl__block__wrapper .bigblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 435px;
  width: 580px;
  margin: 0 20px;
  border-radius: 7px;
  border: 1px solid #F3F3F3;
  background-color: #ffffff;
}

main .articl .articl__block__wrapper .bigblock .wrapper {
  padding: 30px;
  width: 285px;
}

main .articl .articl__block__wrapper .bigblock .wrapper .hashtag__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .articl .articl__block__wrapper .bigblock .wrapper .hashtag__wrapper .hashtag {
  color: #3D9CEA;
  margin-right: 6px;
}

main .articl .articl__block__wrapper .bigblock .wrapper time {
  color: #949494;
  padding-left: 15px;
  display: inline-block;
}

main .articl .articl__block__wrapper .bigblock .wrapper .block__title {
  width: 200px;
  padding-bottom: 10px;
  font-family: Futura PT;
  font-size: 22px;
  font-weight: 700;
}

main .articl .articl__block__wrapper .bigblock .wrapper .block__btn {
  font-family: Futura PT;
  display: inline-block;
  font-size: 18px;
  width: 200px;
  font-weight: bold;
  color: #333333;
  margin: 25px;
  position: relative;
}

main .articl .articl__block__wrapper .bigblock .wrapper .block__btn::before {
  background-repeat: no-repeat;
  position: absolute;
  width: 35px;
  height: 35px;
  left: -35px;
  background-image: url(/img/intro-img/pet.svg);
}

main .form__wrapper {
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: right center;
  background-image: url(../img/fish.png);
  background-color: #333333;
}

main .form__wrapper .container {
  margin: 220px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .form__wrapper .container iframe {
  margin-left: -225px;
}

main .form__wrapper .container .form {
  margin-left: -150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .form__wrapper .container .form .form__title {
  font-family: Futura PT;
  font-size: 48px;
  font-weight: 700;
  color: #FFFFFF;
}

main .form__wrapper .container .form .form__describtion {
  font-family: Futura PT;
  font-weight: 400;
  width: 350px;
  padding: 20px 0;
  color: #949494;
}

main .form__wrapper .container .form input {
  height: 50px;
  width: 375px;
  padding: 20px;
  margin-bottom: 20px;
}

main .form__wrapper .container .form textarea {
  padding: 20px;
  height: 165px;
  width: 375px;
  resize: none;
}

main .form__wrapper .container .form button {
  background-color: #FFBD54;
  display: inline-block;
  margin-top: 30px;
  height: 50px;
  width: 226px;
  color: #ffffff;
}

footer {
  margin-top: 100px;
  height: 221px;
  background-color: #F3F3F3;
  border: 1px solid #EBEBEB;
}

footer .addres {
  text-align: right;
  margin: -30px 80px 0px 0px;
}

footer .footer__navbar {
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__navbar .footer__logo {
  -webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}

footer .footer__navbar .footer__logo:hover {
  opacity: 0.8;
}

footer .footer__navbar .footer__logo:active {
  opacity: 0.6;
}

footer .footer__navbar .menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

footer .footer__navbar .menu__link:hover {
  color: #FFBD54;
}

footer .footer__navbar .menu__link:active {
  opacity: .6;
  color: #333333;
}

footer .footer__navbar .day {
  margin-top: -15px;
  margin-left: 20px;
  position: relative;
}

footer .footer__navbar .day::before {
  content: '';
  left: -20px;
  top: 3px;
  background-repeat: no-repeat;
  background-image: url(../../../img/head-footer/day.svg);
  width: 20px;
  height: 20px;
  position: absolute;
}

footer .footer__navbar .home {
  position: relative;
  margin-left: 20px;
  width: 155px;
  margin-top: -17px;
}

footer .footer__navbar .home::before {
  content: '';
  background-repeat: no-repeat;
  top: 5px;
  left: -20px;
  background-image: url(../../../img/head-footer/house.svg);
  width: 20px;
  height: 20px;
  position: absolute;
}

footer .footer__navbar .tel {
  margin-left: 20px;
  position: relative;
}

footer .footer__navbar .tel::before {
  content: '';
  background-repeat: no-repeat;
  left: -20px;
  top: 3px;
  background-image: url(../../../img/head-footer/phone.svg);
  width: 20px;
  height: 20px;
  position: absolute;
}

.header__bg img {
  -o-object-fit: cover;
     object-fit: cover;
}

.header__bg .header__map--links {
  margin: 33px 0;
}

.header__bg .header__map--links .links {
  position: relative;
  margin-right: 18px;
  color: #949494;
}

.header__bg .header__map--links .links:nth-child(3) {
  color: #333;
}

.header__bg .header__map--links .links:nth-child(3)::before {
  content: '';
  background-image: url(../../../img/head-footer/nuxta.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -9px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3px;
  height: 3px;
}

.header__bg .header__map--links .links:nth-child(2)::before {
  content: '';
  background-image: url(../../../img/head-footer/nuxta.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -9px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3px;
  height: 3px;
}

.blog-section {
  background-image: url(../../../img/img-blog-page-6/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-section .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-section .header-content .header-content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 95px;
}

.blog-section .header-content .header-content__top .top-content .top-content__header {
  font-weight: bold;
  font-size: 70px;
  line-height: 64px;
  margin-top: 118px;
  margin-bottom: 21px;
}

.blog-section .header-content .header-content__top .top-content .top-content__desc {
  width: 447px;
  font-size: 16px;
  line-height: 20px;
}

.blog-section .header-content .header-content__top .top-content__img {
  margin-top: 29px;
  width: 415;
  height: 317;
}

.blog-section .header-content .header-content__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 72px;
}

.blog-section .header-content .header-content__bottom .bottom__img {
  border-radius: 5px 0px 0px 5px;
  width: 558px;
  height: 525px;
  margin-right: 81px;
}

.blog-section .header-content .header-content__bottom .bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-section .header-content .header-content__bottom .bottom-content .bottom-content__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-section .header-content .header-content__bottom .bottom-content .bottom-content__subtitle .heshs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-section .header-content .header-content__bottom .bottom-content .bottom-content__subtitle .subtitle__date {
  padding-left: 47%;
  color: #949494;
}

.blog-section .header-content .header-content__bottom .bottom-content .bottom-content__header {
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  color: #333333;
  margin-bottom: 20px;
}

.blog-section .header-content .header-content__bottom .bottom-content .bottom-content__desc {
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.blog-section .header-content .header-content__bottom .bottom-content .bottom-content__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.blog-section .header-content .header-content__bottom .bottom-content .bottom-content__link::before {
  content: '';
  background-image: url(../../../img/img-blog-page-6/pet-paw.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 21px;
  display: inline-block;
  margin-bottom: -4px;
  margin-right: 5px;
}

.blog-section .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 116px;
}

.blog-section .main-content .main-content__block {
  width: 305px;
  height: 435px;
  border: .2px solid #cfcfcf;
  border-radius: 5px;
}

.blog-section .main-content .main-content__block:nth-child(1) {
  margin-bottom: 60px;
}

.blog-section .main-content .main-content__block:nth-child(2) {
  margin-bottom: 60px;
}

.blog-section .main-content .main-content__block:nth-child(3) {
  margin-bottom: 60px;
}

.blog-section .main-content .main-content__block:nth-child(4) {
  margin-bottom: 60px;
}

.blog-section .main-content .main-content__block .block-img {
  border-radius: 5px;
  margin-bottom: 39px;
  width: 305px;
  height: 180px;
}

.blog-section .main-content .main-content__block .block-header {
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  padding-left: 30px;
  width: 240px;
  margin-bottom: 13px;
}

.blog-section .main-content .main-content__block .block-desc {
  padding-left: 30px;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  width: 280px;
  margin-bottom: 37px;
}

.blog-section .main-content .main-content__block .block-link {
  padding-left: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.blog-section .main-content .main-content__block .block-link::before {
  content: '';
  background-image: url(../../../img/img-blog-page-6/pet-paw.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 21px;
  display: inline-block;
  margin-bottom: -4px;
  margin-right: 5px;
}

.blog-section .blog-section__link {
  width: 200px;
  background-color: #333333;
  color: #fff;
  padding: 16px 40px;
  text-align: center;
  padding-left: 55px;
  position: relative;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.blog-section .blog-section__link .block-section__link-img {
  margin-right: 5px;
  position: absolute;
  top: 20px;
  left: 30px;
}

.main-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 580px;
}

.main-about .about-header {
  position: relative;
}

.main-about .about-header .header__title {
  margin-top: 117px;
  font-weight: bold;
  font-size: 70px;
  color: #333333;
}

.main-about .about-header .header__text {
  width: 411px;
  font-weight: normal;
  font-size: 16px;
  color: #949494;
}

.main-about .about-header .group-paws {
  position: absolute;
  width: 669px;
  top: 250px;
  left: -120px;
}

.main-about .about-header .search-paws {
  position: absolute;
  top: 350px;
  left: 320px;
}

.main-about .about-header__img .header__img {
  width: 448px;
  height: 545px;
  margin-left: 133px;
}

.clinic-building {
  height: 580px;
  background: #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clinic-building .building-about .building-text {
  width: 557px;
  height: 182px;
  font-weight: normal;
  font-size: 20px;
  color: #949494;
}
/*# sourceMappingURL=main.css.map */