main{
    .care{
        background-image: url(/img/intro-img/header-bg.png);
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
        height: 780px;
        .container{
            .care__title{
                font-size: 70px;
                width: 600px;
                padding-top: 80px;
                margin-left: 600px;
                span{
                    color: #74B9D6;
                }
            }
            .care__text{
                width: 500px;
                padding-top: 10px;
                margin-left: 600px;
            }
            .care__btn{
                background-color: black;
                text-align: center;
                line-height: 3;
                height: 50px;
                width: 181px;
                border-radius: 3px;
                margin-top: 50px;
                margin-left: 600px;
                display: inline-block;
                color:  white;
                &:hover{
                    background-color: red;
                }
            } 
            hr{
                width: 140px;
                position: relative;
                top: 320px;
                left: 570px;
            } 
            .line{
                top: 35px;
            }
            .care__describtion{
                margin: 0 auto;
                margin-top: 350px;
                width: 600px;
                text-align: center;
                position: relative;
                &::before{
                    background-image: url(/img/intro-img/arroooow.svg);
                    width: 50px;
                    height: 50px;
                    left: -80px;
                    top: -25px;
                    background-repeat: no-repeat;
                    position: absolute;
                }
                &::after{
                    background-image: url(/img/intro-img/arroooow.svg);
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    right: -80px;
                    top: 20px;
                    transform: rotate(180deg);
                    background-repeat: no-repeat;
                }
            }   
            .title{
                padding-top: 60px;
                text-align: center;
                margin: 50px 0px;
            }
            
            
            .sub__title{
                padding-top: 80px;
                text-align: center;
                
            }
        }
    }
    .servis{
        margin-top: 460px;
        padding: 0 40px;
        .servis__menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .servis__item{
                text-align: center;
                height: 215px;
                width: 193px;
                margin-right: 10px;
                border-radius: 5px 5px 0px 0px;
                border: 1px solid #F3F3F3;
                background-color: #ffffff;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 35px;
                
                position: relative;
                &::before{
                    top: 30px;
                    left: 50px;
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    background-repeat: no-repeat;
                    background-image: url(/img/intro-img/doctor.svg);
                    
                }
                &:hover{
                    
box-shadow: -2px -6px 16px 7px rgba(0,0,0,0.2);
                }
                .servis__tite{
                    
                    width: 150px;
                    
                }
            }
            .no1{
                &::before{
                    left: 90px;
                }
            }
            .no2{
                &::before{
                    left: 75px;
                    background-image: url(/img/intro-img/gitl-dog.svg);
                }
            }
            .no3{
                &::before{
                    left: 70px;
                    background-image: url(/img/intro-img/outline.svg);
                }
            }
            .no4{
                &::before{
                    left: 70px;
                    background-image: url(/img/intro-img/docg.svg);
                }
            }
            .no5{
                &::before{
                    left: 70px;
                    background-image: url(/img/intro-img/microscop.svg);
                }
            }
            .no6{
                &::before{
                    left: 70px;
                    background-image: url(/img/intro-img/dermatolog.svg);
                }
            }
                 .no7{
                &::before{
                    left: 70px;
                    background-image: url(/img/intro-img/sklet.svg);
                }
            }
                 .no8{
                &::before{
                    left: 90px;
                    background-image: url(/img/intro-img/prick.svg);
                }
            }
                 .no9{
                &::before{
                    left: 60px;
                    background-image: url(/img/intro-img/dogsday.svg);
                }
            }
                 .no10{
                &::before{
                    left: 70px;
                    background-image: url(/img/intro-img/prick-health.svg);
                }
            }
                 .no11{
                &::before{
                    left: 70px;
                    background-image: url(/img/intro-img/tooth.svg);
                }
            }
                     .no12{
                &::before{
                    left: 70px;
                    background-image: url(/img/intro-img/+bag.svg);
                }
            }
        }
    }
    .inspects{
        margin-top: 20px;
        padding: 0 46px;
        
        .inspect{
            img{
                object-fit: cover;
                padding:40px 20px;
            }
            border: 2px solid black;
            border-radius: 5px;
            height: 330px;
            border: 1px solid #F3F3F3;
           
            display: flex;
            .text__wrapper{
                margin: 55px 20px;
                width: 500px;
                
                .inspect__title{
                    margin-bottom: 10px;
                }
                .inspect__text{
                    padding-bottom: 8px;
                    color : #949494;
                    
                }
                
                .inspect__btn{
                    height: 50px;
                    width: 185px;
                    padding-left: 20px;
                    line-height: 3;
                    text-align: center;
                    color: #ffffff;
                    border-radius: 3px;
                    background-color: #FFBD54;
                    display: inline-block;
                    margin-right: 15px;
                    position: relative;
                    &::before{
                        width: 20px;
                        height: 20px;
                        left: 10px;
                        top: 12px;
                        position: absolute;
                        background-repeat: no-repeat;
                        background-image: url(/img/intro-img/money.svg);
                    }
                    .no2{
                        background-color: #333333;
                        width: 200px;
                    }
                }
            }
        }
    }
    
    
    .slick-arrow{
        background: transparent;
        background-image: url(/img/intro-img/Arroow.svg);
        border: none;
        color: transparent;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 50px;
        height: 50px;
        padding: 5px;
    }
    .slick-next{
        transform: rotate(180deg);
    }
    .course{
        position: relative;
        height: 308px;
        top: 200px;
        background-image: url(/img/intro-img/main-bg.svg);
        border-radius: 5px;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
        box-sizing: border-box;
        z-index: 20;
        &::before{
            background-image: url(/img/intro-img/DOG.png);
            height: 450px;
            width: 500px;
            top: -92.5px;
            right: 0px;
            background-position: center center;
            position: absolute;
        }
        .course__title{
            padding: 40px 325px 50px 0px;
            text-align: center;
            font-family: Futura PT;
            font-size: 48px;
            font-weight: 700;
            color: #ffffff;
        }
        input{
            height: 50px;
            margin-left: 150px;
            width: 330px;
            border-radius: 5px;
            border: none;
            padding-left: 25px;
            outline: none;
        }
        .course__btn{
            height: 50px;
            width: 188px;
            margin-left: 20px;
            border-radius: 3px;
            background-color: #333333;
            color: #ffffff;
        }
    }
    .articl{
        margin-top: 400px;
        display: flex;
        overflow: hidden;
        .articl__title{
            text-align: center;
        }
        .articl__block__wrapper{
            margin-top: 50px;
            display: flex;
            
            .block{
                height: 435px;
                width: 270px;
                border-radius: 7px;
                border: 1px solid #F3F3F3;
                background-color: #ffffff; 
                .text__wrapper{ 
                    padding: 30px;
                    time{
                        color: #949494;
                        display: inline-block;
                        margin-left: 140px;
                        
                    }
                    .block__title{
                        width: 200px;
                        padding-bottom: 10px;
                        font-family: Futura PT;
                        font-size: 22px;
                        font-weight: 700;
                        
                        
                    }
                    .block__btn{
                        font-family: Futura PT;
                        display: inline-block;
                        font-size: 18px;
                        width: 200px;
                        font-weight: bold;
                        color: #333333;
                        margin: 25px;
                        position: relative;
                        &::before{
                            background-repeat: no-repeat;
                            position: absolute;
                            width: 35px;
                            height: 35px;
                            left: -35px;
                            background-image: url(/img/intro-img/pet.svg);
                        }
                    }
                    
                }
                
                
            }
            .bigblock{
                display: flex;
                height: 435px;
                width: 580px;
                margin: 0 20px;
                border-radius: 7px;
                border: 1px solid #F3F3F3;
                background-color: #ffffff;
                
                .wrapper{
                    padding: 30px;
                    width: 285px;
                    .hashtag__wrapper{
                        display: flex;
                        .hashtag{
                            color: #3D9CEA;
                            margin-right: 6px;
                            
                        }
                    }
                    time{
                        color: #949494;
                        padding-left: 15px;
                        display: inline-block;
                        
                        
                    }
                    .block__title{
                        width: 200px;
                        padding-bottom: 10px;
                        font-family: Futura PT;
                        font-size: 22px;
                        font-weight: 700;
                        
                        
                    }
                    .block__btn{
                        font-family: Futura PT;
                        display: inline-block;
                        font-size: 18px;
                        width: 200px;
                        font-weight: bold;
                        color: #333333;
                        margin: 25px;
                        position: relative;
                        &::before{
                            background-repeat: no-repeat;
                            position: absolute;
                            width: 35px;
                            height: 35px;
                            left: -35px;
                            background-image: url(/img/intro-img/pet.svg);
                        }
                    }
                    
                }
                
            }
            
        }   
        
        
    }
    .form__wrapper{
        background-repeat: no-repeat;
        background-size: 200px;
        background-position: right center;
background-image: url(../img/fish.png);
        background-color: #333333;
     .container{
         margin: 220px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        iframe{
       margin-left: -225px;
        }
        .form{
            margin-left: -150px;
            display: flex;
            flex-direction: column;
            .form__title{
                font-family: Futura PT;
                font-size: 48px;
                font-weight: 700;
                color: #FFFFFF;
                
            } 
            .form__describtion{
                font-family: Futura PT;
                font-weight: 400;
                width: 350px;
                padding: 20px 0;
                color: #949494;
                
            }
            input{
                height: 50px;
                width: 375px;
                padding: 20px;
                margin-bottom: 20px;
            }
            textarea{
                padding: 20px;
                height: 165px;
                width: 375px;   
                resize: none;
            }
            button{
                background-color: #FFBD54;             
                display: inline-block;
                margin-top: 30px;
                height: 50px;
                width: 226px;
                color: #ffffff;
                
            }
        }
    }
}
}